.card-img-top{
  height: 150px;
  width: auto;
  align-self: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9.39427798px;
}
.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
