<head>
    <link rel="stylesheet" href="stylesheets/index-style.css">
</head>
<div class="index-container">
    <img src="\images\beer.png" alt="">
  <div class="content">
    <button type="button" name="button"><a href="/beer">Beer</a></button>
    <button type="button" name="button"><a href="/beer">Random Beer</a></button>
  </div>


</div>
